<img id="loader" src="/pub/static/adminhtml/Magento/backend/en_US/images/loader-2.gif"/>
<div class="label" id='train_steps_container'>
<button id="train_button" title="Start Process" type="button" style="display:none" class="action-default scalable" data-bind=", click: startProcess, css: buttonStatus"> 
        <span>Start Process</span>
</button>
<div class="interaction-wrapper" data-bind="if: needsInteractions">
	<span id="interaction-number" data-bind="text: interactionsCount">&nbsp;</span>
	<span class="label">Interactions</span>
        <img title="Refresh Interactions Count" class="refresh message-button" width="16px" height="16px" data-bind="attr:{src: refreshUrl}, click: displayGauge" />
	<div id="interaction-progress">
		<div id="interaction-count">&nbsp;</div>
	</div>
</div>
<div class="training-indicator" id="train_div"  afterRender="showProgress()">

    <table id="train_steps">
          <tbody data-bind="foreach: steps">
            <tr>
              <td>
                <img width="16px" height="16px" data-bind="attr:{src: imgUrl}" />
              </td>
              <td data-bind="text: step_name"></td>
              <td data-bind="if: error">
			      <img title="Display error message" class="message-button" width="16px" height="16px" data-bind="attr:{src: infoUrl}, click: $parent.displayErrorMssg" />
              </td>
            </tr>
          </tbody>
    </table>
	<div id="train_message_wrapper">
		<div class="popup" id="train_message_div">
			<div class="close" data-bind=", click: closeErrorMssg">&times;</div>
			<div html="mssg()"></div>
		</div>
	</div>
</div>
