#train_button{
	background-color:#007bdb;
	color:#EEEEEE;
}

#train_button.notStarted {
	background-color:#007bdb;
	color:#EEEEEE;
}

#train_button.ready,
#train_button.inProgress {
	background-color:green;
	color:#000000;
}

#train_button.hasError {
	background-color:#e22626b0;
	color:#000000;
}

#train_steps > tbody > tr > td {
	padding: 0;
	padding-top: 3px;
}

#train_steps tr {
	  height: 10px; 
  } 

#train_div {
    float: left;
    left: -70%;
    position: relative;
    padding-top: 20px;
    width: 280px;
}

#row_awsp_settings_awsp_general_ec2_install > td.label > label > span{
   display:none;
}

#row_awsp_settings_awsp_general_calc_error > td.label > label > span {
   display:none;
}

#row_awsp_settings_awsp_assets_asset_display > td.label > label > span {
   display:none;
}

.#asset_display_table > tbody > tr.asset-header {
	font-weight:bold;
	font-size:12px;
	border-bottom: 3px solid black;
}

#asset_display_table > tbody > tr.asset-row {
	font-size:10px;
	border-bottom: 1px solid black;
}

#asset_display_table > tbody > tr.asset-row > td {
	border-right: 1px solid black;
}

#asset_display_table > tbody > tr.asset-row > td.aPath-cell {
	width: 100px;
	border-right: 1px solid black;
}

#asset_display_table > tbody > tr.asset-row > td.aValue-cell {
	width: 100px;
}

#row_awsp_settings_awsp_logs_log_display > td.label > label > span {
   display:none
}

#license-error-mssg {
   width: 310px;
   margin: 20px;
   text-align: center;
}

#row_awsp_settings_awsp_logs_log_display {
  position: relative;
  left: -15%;
  top: -20px;
}

#error_log_wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#error_log_div {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 350px;
  text-align: left;
  overflow: auto; /* Enable scroll if needed */
}

#reset_all_message_wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#reset_camp_message_wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#train_message_wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#train_message_div {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#train_message_div > p:first-child {
	color: red;
	font-weight: bold;
}

#train_message_div > p:nth-child(2) {
	color: #333333;
	font-weight: bold;
	overflow-y: scroll;
	background: #DDDDDD;
	padding: 3px;
	padding-left: 5px;
}

button.aws-advanced {
	width: 80%;
	margin-bottom: 10px;
}
.message-button {
  margin-left: 5px;
}

.message-button:hover {
  cursor: pointer;
}

.message-button-label {
  color: red;
  cursor: pointer;
}

.error-message-header {
  color: red;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.error-message-body {
  color: black;
  font-weight: bold;
  background: #DDDDDD;
  padding: 10px;
  text-align: center;
}

.interaction-wrapper {
  width:400px;
}

.interaction-wrapper .label {
  position:relative;
  left:-58%;
}

#interaction-progress {
  width: 100%;
  background-color: #ddd;
}

#interaction-count {
  width: 0%;
  height: 20px;
  background-color: #4CAF50;
}

#reset_button {
	float:left;
}

