<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "wizardadvanced": {
                            "component": "CustomerParadigm_AmazonPersonalize/js/wizardprogress",
				    "template" : "CustomerParadigm_AmazonPersonalize/wizardtemplateadv",
				    "infoUrl" : "<?php echo($block->getImageUrl('info'))?>",
				    "ajaxResetUrl": "<?php echo($block->getAjaxResetUrl()) ?>",
				    "ajaxResetCampUrl": "<?php echo($block->getAjaxResetCampUrl()) ?>"
                        }
                    }
                }
            }
        }
</script>
<div data-bind="scope: 'wizardadvanced'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
